---
import BaseLayout from '$lib/layouts/BaseLayout.astro'
import About from '$lib/components/About.astro'
import ContactCard from '$lib/components/ContactCard.astro'
import ArticleCard from '$lib/components/ArticleCard.astro'

import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { SITE_URL } from '$lib/const'

export async function getStaticPaths({ paginate }: any) {
  const allArticles: CollectionEntry<'articles'>[] = await getCollection(
    'articles',
    ({ data }: any) => {
      return import.meta.env.PROD ? data.draft !== true : true
    }
  )
  allArticles.sort(
    (a: CollectionEntry<'articles'>, b: CollectionEntry<'articles'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )

  return paginate(allArticles, { pageSize: 12 })
}

const { page }: any = Astro.props
---

<BaseLayout
  url={`${SITE_URL}`}
  title="Techie Faisal - Decoding Technology"
  description=`My name is Faisal. I am a self-taught Web Developer. From a young age, I have been passionate
      about the latest gadgets. Through this blog, I want to help you make your tech purchasing
      decisions better and more efficient.`
>
  <main class="container mb-16 mt-12 md:mb-24 lg:mt-16">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3">
      <!-- article card -->
      <section class="lg:col-span-2">
        <div class="grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-x-6">
          {page.data.map((article: any) => <ArticleCard article={article} />)}
        </div>
        <!-- /article card -->

        <!-- paginator -->
        <div class="mx-auto mt-16 flex items-center justify-between space-x-10 md:mt-20 lg:mt-24">
          <a
            href={page.url.prev}
            class={!page.url.prev
              ? 'flex items-center gap-1 text-muted-foreground font-medium'
              : 'flex items-center gap-1 hover:text-lightBlue transition font-medium'}
            aria-label="Go to newer posts"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11z"></path>
            </svg>
            Newer Posts
          </a>

          <div class="hidden text-zinc-800 dark:text-muted-foreground md:block">
            Page
            {page.currentPage}
            of
            {page.lastPage}
          </div>

          <a
            href={page.url.next}
            class={!page.url.next
              ? 'flex items-center gap-1 text-muted-foreground font-medium'
              : 'flex items-center gap-1 hover:text-lightBlue transition font-medium'}
            aria-label="Go to older posts"
          >
            Older Posts
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M4 11v2h12l-5.5 5.5l1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5L16 11z"></path>
            </svg>
          </a>
        </div>
        <!-- /paginator -->
      </section>

      <!-- sidebar -->
      <aside class="h-fit md:grid md:grid-cols-2 md:gap-10 lg:col-span-1 lg:grid-cols-1">
        <section>
          <About />
          <hr class="mt-10 md:max-lg:hidden" />
        </section>

        <section class="mt-10 md:mt-2">
          <ContactCard />
        </section>
      </aside>
      <!-- /sidebar -->
    </div>
  </main>
</BaseLayout>
