---
import '$lib/styles/app.css'

// font
import '@fontsource-variable/open-sans'
// /font

import { ViewTransitions } from 'astro:transitions'
import Header from '$lib/components/Header.svelte'
import Footer from '$lib/components/Footer.astro'
import LoadingIndicator from 'astro-loading-indicator/component'

const { title, url, description, ogType, ogImage } = Astro.props
---

<script is:inline>
  const isBrowser = typeof localStorage !== 'undefined'
  const getThemePreference = () => {
    if (isBrowser && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (isBrowser) {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class']
    })
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="language" content="English" />
    <meta name="rating" content="general" />
    <meta property="og:type" content={ogType || 'website'} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={ogImage || 'https://techiefaisal.com/favicon.svg'} />
    <meta name="contact" content="contact@techiefaisal.com" />
    <meta name="reply-to" content="contact@techiefaisal.com" />

    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="”robots”" content="index, follow" />

    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={url} />

    <LoadingIndicator color="#0d6eff" height="2.5px" />
    <ViewTransitions />

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5253758564264517"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
